.footer {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: #0a2850;
  color: #fff;
  padding: 60px 80px;
}

.footer__circle {
  position: absolute;
  top: -128px;
  left: -44px;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background-color: #2f80ed;
  z-index: -1;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-end;
}

.footer__heading {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer__social-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  margin: 108px 0 0;
}
