.form {
  max-width: 385px;
}

.form__label {
  font-weight: 500;
  display: block;
  margin: 0 0 8px;
}

.form__input {
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  padding: 15px 20px;
  margin: 0 0 32px;
}

.form__button {
  font-weight: 500;
  box-sizing: border-box;
  background-color: #2f80ed;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  margin: 0 0 32px;
  padding: 15px 20px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.form__checkbox:checked {
  appearance: none;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.form__label_display_flex {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}
