.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__title {
  max-width: 709px;
  margin: 183px 0 0 80px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  box-sizing: border-box;
  width: 100%;
  margin: auto auto 0;
  padding: 0 80px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  margin: 0;
}
