.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 80px 0 30px;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  column-gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #2f80ed;
}
