.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 80px 0 30px;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  column-gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__title {
  max-width: 709px;
  margin: 183px 0 0 80px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  box-sizing: border-box;
  width: 100%;
  margin: auto auto 0;
  padding: 0 80px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  margin: 0;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.recipes__title {
  margin: 0;
  padding: 100px 0 0 80px;
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0;
  padding: 24px 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  list-style-type: none;
  margin: 0 auto;
  padding: 80px 0 215px 0;
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__title {
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  padding: 100px 0 0 0;
}

.reservation__form {
  margin: 80px auto 0;
  padding: 0 0 120px;
}

.form {
  max-width: 385px;
}

.form__label {
  font-weight: 500;
  display: block;
  margin: 0 0 8px;
}

.form__input {
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  padding: 15px 20px;
  margin: 0 0 32px;
}

.form__button {
  font-weight: 500;
  box-sizing: border-box;
  background-color: #2f80ed;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  margin: 0 0 32px;
  padding: 15px 20px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.form__checkbox:checked {
  appearance: none;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.form__label_display_flex {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}
